[user]
	name = Adhyyan Narang
	email = adhyyan.narang
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
[url "ssh://gitolite@code.uber.internal/"]
	insteadOf = git://code.uber.internal/
[url "ssh://git@github.com/uber/"]
	insteadOf = https://github.com/uber/
[url "ssh://code.uber.internal/"]
	insteadOf = https://code.uber.internal/
[url "ssh://config.uber.internal/"]
	insteadOf = https://config.uber.internal/
[http "https://gopkg.uberinternal.com"]
	followRedirects = true
[http "https://gopkg.in"]
	followRedirects = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
[alias]
	graph = log --all --decorate --oneline --graph
